body, html, #root, .app, .container {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.icon{
  display: flex;
  align-items: center;
  padding-left:4rem;
}

.heading{
  display: flex;
  align-items: center;
  
}

.box{
  box-shadow:3px 3px 5px 0.5px #000000;
  padding: 2rem;
}

p{
  font-size: 100%;
  width: 12rem;
  color: #000000;
  font-weight: bolder;
  text-indent: 0.5em;
}

a{
  font-size:0.75rem;
  margin-left:3.5rem;
}

.dash_icon{
  display: flex;
  align-items: center;
  width: 100rem;
}

.container {
  font-size: 28px;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #282c34;*/
  background: #ffffff;
}

.loginForm {
 
 box-sizing: border-box;
 width: 100%;
 max-width: 400px;
 padding-left: 20px;
 padding-right: 20px;
}

.inputField {
 padding-top: 16px;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #000;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 12px;
 font-size: 14px;
 background: rgba(255, 255, 255, 1);
}

.submitButton {
 padding-top: 16px;
}


.btn {
 width: 100%;
 min-width: 280px;
 color: #FFF;
 padding: 12px;
 font-size: 14px;
 font-weight: bold;
 display: inline-block;
 border:none;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 background: #4CAF50;
 cursor: pointer;
 transition-duration: 0.4s;
}

h2{
  text-align: center;
}

.contact{
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #282c34;*/
  /* background: #ffffff; */
  margin-left: 14rem;
  margin-top: -4.5rem;
}

/* textarea{
  width: 100%;
  max-width: 100%;
} */

#text{
  width:60rem ;
  height: 5rem;
  
}

#cont{
  width:60rem;
  height: 1.5rem;
}

#contact-btn{
  background-color:#008CBA;
  border: none;
  color: white;
  width:60rem;
  height:2rem;
  text-align: center;
  cursor: pointer;
  font-size: large;
}

#appbar{
  background-color:#008CBA;
}

#logBtn{
  margin-left: 72.5rem;
  background-color:#fff;
  color: #000;
  cursor: pointer;
  border-radius: 0.5em;
  width: 7rem;
  height: 2rem;
  font-size: 14px;
  font-weight: bold;
}

#dish-btn{
  margin-top: 100px;
  background-color:#fff;
  color: #000;
  cursor: pointer;
  border-radius: 0.5em;
  width:60rem;
  height:2rem;
  font-size: 14px;
  font-weight: bold;
  margin-left: 7rem;
}

.aboutPage{
  margin-left: 16rem;
  overflow: hidden;
  margin-top: -4rem;
}

#aboutText{
  margin-left: -2rem;
}

